<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.medical.mapper.WmEquipmentExamineMapper">

    <!-- 查询分页 -->
    <select id="selectForPage" resultType="org.jeecg.modules.medical.vo.WmEquipmentExamineVO">
        SELECT
          a.*,
          (SELECT
            COUNT(*)
          FROM
            wm_equipment_examine_history b
          WHERE b.examine_id = a.id) AS examine_number,
          (SELECT
            COUNT(*)
          FROM
            wm_equipment_info c
          WHERE a.equipment_type = c.equipment_type
            AND a.examine_area = c.charge_area
            AND a.examine_dept = c.use_dept
            AND a.sys_org_code = c.sys_org_code) AS examine_total
        FROM
          wm_equipment_examine a
        order by a.create_time desc
    </select>
</mapper>
